@page "/counter"
@inject NavigationManager Nav
@using Microsoft.AspNetCore.Components.Web

<h1>Counter [@Filter]</h1>

<p id="counter">Current count: @Count</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<p>
    <input @bind="FilterBindable" @bind:event="oninput" />
</p>

@code {
    [Parameter, FromQuery] public int Count { get; set; }
    [Parameter, FromQuery] public string? Filter { get; set; }

    string? FilterBindable
    {
        get => Nav.GetQueryParameter<string>("filter");
        set => Nav.SetQueryParameter("filter", value);
    }

    void IncrementCount()
    {
        Nav.SetQueryParameter("count", Count + 1);
    }
}
